<p id="notice"><%= notice %></p>

<p>
  <b>Idpeclasses:</b>
  <%= @pe_classmember.idpeclasses %>
</p>

<p>
  <b>Idusers:</b>
  <%= @pe_classmember.idusers %>
</p>


<%= link_to 'Edit', edit_pe_classmember_path(@pe_classmember) %> |
<%= link_to 'Back', pe_classmembers_path %>
