<%= form_for(@school_peclass) do |f| %>
  <% if @school_peclass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school_peclass.errors.count, "error") %> prohibited this school_peclass from being saved:</h2>

      <ul>
      <% @school_peclass.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :school_id %><br />
    <%= f.number_field :school_id %>
  </div>
  <div class="field">
    <%= f.label :peclass_id %><br />
    <%= f.number_field :peclass_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
