<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <%= image_tag("White_Logo_6-22.png", :alt => "TAG", :style => "height:40px; float:left;") %>
          <p class="brand">You're it!</p>
            <ul>
              <li><a>SETUP YOUR ACCOUNT</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div id="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row">
        <div class="span12">
        <h1>Let's get started!</h1>
        <h2>Now, set your new password:</h2>
		  <%= form_tag('/users/reset_password') do %>
		    <%= label_tag :old_password, 'Old Password', :style => "font-family: 'Rockwell'; color: white; text-shadow: 2px 2px #000; font-size: 16px; margin-bottom: 5px" %>
		    <%= password_field_tag :old_password %></br></br>

		    <%= label_tag :new_password, 'New Password', :style => "font-family: 'Rockwell'; color: white; text-shadow: 2px 2px #000; font-size: 16px; margin-bottom: 5px" %>
		    <%= password_field_tag :new_password %><br></br>

		    <%= label_tag :new_password_confirmation, 'Confirm Password', :style => "font-family: 'Rockwell'; color: white; text-shadow: 2px 2px #000; font-size: 16px; margin-bottom: 5px" %>
		    <%= password_field_tag :new_password_confirmation %></br></br>

		  <%= submit_tag 'Submit', :class => 'btn btn-primary btn-large pull-right', :style => "font-family:Rockwell; font-size: 16px; float: left; postion: relative" %>
            <% end %>
        </div>
      </div><!-- end row 2 -->


    <%= image_tag("guyTAGgradient.png", :id => 'background-img', :class => "bg") %>

    </div> <!-- /container -->
    <div class="clearfooter"></div>
    <div class="footer">
      <p>&copy; The Active Generation 2012</p>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>

  </body>
</html>
