<h1>Listing pe_classes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Datetime</th>
    <th>Idschools</th>
    <th>Idteachers</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pe_classes.each do |pe_class| %>
  <tr>
    <td><%= pe_class.name %></td>
    <td><%= pe_class.datetime %></td>
    <td><%= pe_class.idschools %></td>
    <td><%= pe_class.idteachers %></td>
    <td><%= link_to 'Show', pe_class %></td>
    <td><%= link_to 'Edit', edit_pe_class_path(pe_class) %></td>
    <td><%= link_to 'Destroy', pe_class, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pe class', new_pe_class_path %>
