<h1>Listing user_funs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Fun</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_funs.each do |user_fun| %>
  <tr>
    <td><%= user_fun.user_id %></td>
    <td><%= user_fun.fun_id %></td>
    <td><%= link_to 'Show', user_fun %></td>
    <td><%= link_to 'Edit', edit_user_fun_path(user_fun) %></td>
    <td><%= link_to 'Destroy', user_fun, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User fun', new_user_fun_path %>
