<h1>Listing teammembers</h1>

<table>
  <tr>
    <th>Idteams</th>
    <th>Idusers</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teammembers.each do |teammember| %>
  <tr>
    <td><%= teammember.idteams %></td>
    <td><%= teammember.idusers %></td>
    <td><%= link_to 'Show', teammember %></td>
    <td><%= link_to 'Edit', edit_teammember_path(teammember) %></td>
    <td><%= link_to 'Destroy', teammember, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teammember', new_teammember_path %>
