<h1>Event Infomation</h1>

    <div><%= label_tag "Sport: " %><%= @sport.name %></div>
    <div><%= label_tag "Address: " %><%= @location.address %></div>
    <div><%= label_tag "Datetime: " %><%= @event.datetime %></div>
