<h1>Event Infomation</h1>

<%= form_tag('/login') do %>

    <div><%= @sport.name %></div>
    <div><%= @location.address %></div>
    <div><%= @event.datetime %></div>

  <%= submit_tag 'Regist' %>
<% end %>

