<h1>Listing music_likes</h1>

<table>
  <tr>
    <th>Music</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @music_likes.each do |music_like| %>
  <tr>
    <td><%= music_like.music_id %></td>
    <td><%= music_like.user_id %></td>
    <td><%= link_to 'Show', music_like %></td>
    <td><%= link_to 'Edit', edit_music_like_path(music_like) %></td>
    <td><%= link_to 'Destroy', music_like, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Music like', new_music_like_path %>
