<h1>Listing funs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Sport</th>
    <th>Datetime</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @funs.each do |fun| %>
  <tr>
    <td><%= fun.name %></td>
    <td><%= fun.sport_id %></td>
    <td><%= fun.datetime %></td>
    <td><%= fun.location %></td>
    <td><%= link_to 'Show', fun %></td>
    <td><%= link_to 'Edit', edit_fun_path(fun) %></td>
    <td><%= link_to 'Destroy', fun, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fun', new_fun_path %>
