<!DOCTYPE html>
<html>
<head>
  <title>The Active Generation</title>
  <%= stylesheet_link_tag "bootstrap", "main", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<%= render :partial => 'layouts/header' %>
<%= yield %>
<%= render :partial => 'layouts/footer' %>

<%= yield :scripts %>
</body>
</html>
